Repository lltpkg/sst-vscode-extension: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm lint -- --write, pnpm shellcheck

fix: missing cmlint rc
  .commitlintrc.ts
Due: pnpm lint -- --write

feat: add sst analyzer core and cli
  packages/analyzer/.gitattributes
  packages/analyzer/README.md
  packages/analyzer/cli/sst-analyzer
  packages/analyzer/package.json
  packages/analyzer/src/cli/index.ts
  packages/analyzer/src/index.ts
  packages/analyzer/src/lib/astAnalyzer.ts
  packages/analyzer/src/lib/fileScanner.ts
  packages/analyzer/src/lib/statisticsAnalyzer.ts
  packages/analyzer/src/lib/validator.ts
  packages/analyzer/src/types/index.ts
  packages/analyzer/tsconfig.json
  packages/analyzer/tsconfig.test.json
  packages/analyzer/vitest.config.ts
Due: pnpm lint -- --write

test: add sst analyzer core stupid failed tests
  packages/analyzer/src/tests/astAnalyzer.test.ts
  packages/analyzer/src/tests/cli.test.ts
  packages/analyzer/src/tests/fileScanner.test.ts
  packages/analyzer/src/tests/validator.test.ts
Due: pnpm lint -- --write

feat: add sst vscode ext setup
  apps/extension/.vscodeignore
  apps/extension/LICENSE
  apps/extension/README.md
  apps/extension/package.json
  apps/extension/tsconfig.json
  apps/extension/vitest.config.ts
Due: pnpm lint -- --write

feat: add sst vscode ext
  apps/extension/src/codeActionProvider.ts
  apps/extension/src/completionProvider.ts
  apps/extension/src/definitionProvider.ts
  apps/extension/src/diagnosticProvider.ts
  apps/extension/src/extension.ts
  apps/extension/src/handlerParser.ts
  apps/extension/src/hoverProvider.ts
Due: pnpm lint -- --write

test: add sst ext stupid failed tests
  apps/extension/src/tests/astAnalyzer.test.ts
  apps/extension/src/tests/completionProvider.test.ts
  apps/extension/src/tests/definitionProvider.test.ts
  apps/extension/src/tests/diagnosticProvider.test.ts
  apps/extension/src/tests/fileScanner.test.ts
  apps/extension/src/tests/handlerParser.test.ts
Due: pnpm lint -- --write

chore: deps graph gen
  graphs/build.mermaid
  graphs/build.svg
  graphs/test.mermaid
  graphs/test.svg
Due: none

chore: update licenses and add deploy script
  apps/extension/LICENSE
  package.json
  packages/analyzer/LICENSE
  packages/analyzer/README.md
  turbo.json
Due: pnpm lint -- --write

feat: add sst vscode extension package
  extensions/sst-vsc-ext-0.0.1.vsix
Due: none

chore: change package privacy status to false
  package.json
Due: pnpm lint -- --write

chore: clone readme
  README.md
Due: none

feat(analyzer): rename to @cute-me-on-repos/sst-analyzer with streamlined CI
  .github/workflows/publish-analyzer.yml
  .github/workflows/release-analyzer.yml
  README.md
  packages/analyzer/package.json
  packages/analyzer/src/tests/fileScanner.test.ts
  scripts/publish-analyzer.bash
Due: pnpm lint -- --write, pnpm shellcheck

chore(analyzer): bump version to 0.1.1
  packages/analyzer/package.json
Due: pnpm lint -- --write

feat(extension): add icon and update package metadata
  apps/extension/.vscodeignore
  apps/extension/icon.png
  apps/extension/package.json
  extensions/sst-vsc-ext-0.0.1.vsix
Due: pnpm lint -- --write

chore(readme): remove license section from README.md
  README.md
Due: none

docs(readme): enhance VSCode extension section with advanced features and installation instructions
  README.md
Due: none

chore(workflow): update publish workflow and package metadata
  .github/workflows/publish-analyzer.yml
  .gitignore
  packages/analyzer/package.json
Due: pnpm lint -- --write

chore(analyzer): bump version to 0.1.2
  packages/analyzer/package.json
Due: pnpm lint -- --write

feat(extension): refactor activation logic and improve TypeScript loading
  apps/extension/src/extension.ts
Due: pnpm lint -- --write

test: rewrite step 1 - remove
  apps/extension/src/tests/astAnalyzer.test.ts
  apps/extension/src/tests/completionProvider.test.ts
  apps/extension/src/tests/definitionProvider.test.ts
  apps/extension/src/tests/diagnosticProvider.test.ts
  apps/extension/src/tests/fileScanner.test.ts
  apps/extension/src/tests/handlerParser.test.ts
  packages/analyzer/src/tests/astAnalyzer.test.ts
  packages/analyzer/src/tests/cli.test.ts
  packages/analyzer/src/tests/fileScanner.test.ts
  packages/analyzer/src/tests/validator.test.ts
Due: pnpm lint -- --write

test: added test repo
  packages/analyzer/__tests__/repo/.gitignore
  packages/analyzer/__tests__/repo/env.d.ts
  packages/analyzer/__tests__/repo/functions/details.ts
  packages/analyzer/__tests__/repo/functions/hono-serverless.ts
  packages/analyzer/__tests__/repo/functions/invoke-multi-steps.ts
  packages/analyzer/__tests__/repo/functions/public-bucket-subscriber.ts
  packages/analyzer/__tests__/repo/functions/upload.ts
  packages/analyzer/__tests__/repo/infra/api/apiv1.ts
  packages/analyzer/__tests__/repo/infra/api/hono-serverless.ts
  packages/analyzer/__tests__/repo/infra/bucket.ts
  packages/analyzer/__tests__/repo/infra/cron.ts
  packages/analyzer/__tests__/repo/infra/lambda.ts
  packages/analyzer/__tests__/repo/infra/queue.ts
  packages/analyzer/__tests__/repo/infra/step-functions/first-state-machine.ts
  packages/analyzer/__tests__/repo/infra/step-functions/index.ts
  packages/analyzer/__tests__/repo/infra/vpc.ts
  packages/analyzer/__tests__/repo/lib/flags.ts
  packages/analyzer/__tests__/repo/lib/handler-factory.ts
  packages/analyzer/__tests__/repo/sst-env.d.ts
  packages/analyzer/__tests__/repo/sst.config.ts
  packages/analyzer/tsconfig.json
Due: pnpm lint -- --write

test: add tests
  packages/analyzer/__tests__/repo/functions/invalid-handler.ts
  packages/analyzer/__tests__/repo/tsconfig.json
  packages/analyzer/cli/sst-analyzer
  packages/analyzer/src/cli/index.ts
  packages/analyzer/src/lib/fileScanner.ts
  packages/analyzer/src/lib/validator.ts
  packages/analyzer/src/tests/__snapshots__/cli.test.ts.snap
  packages/analyzer/src/tests/basic.test.ts
  packages/analyzer/src/tests/cli.test.ts
  packages/analyzer/src/tests/fileScanner.test.ts
  packages/analyzer/src/tests/validator.test.ts
  packages/analyzer/src/types/index.ts
Due: pnpm lint -- --write

chore(workflow): add testing workflow for Analyzer Package and VSCode Extension
  .github/workflows/testing.yml
Due: none

test(ext): add vscode test
  .gitignore
  apps/extension/.vscode-test.mjs
  apps/extension/.vscodeignore
  apps/extension/package.json
  apps/extension/src/completionProvider.ts
  apps/extension/src/definitionProvider.ts
  apps/extension/src/diagnosticProvider.ts
  apps/extension/src/extension.ts
  apps/extension/src/hoverProvider.ts
  apps/extension/src/test/runTest.ts
  apps/extension/src/test/suite/completionProvider.test.ts
  apps/extension/src/test/suite/definitionProvider.test.ts
  apps/extension/src/test/suite/diagnosticProvider.test.ts
  apps/extension/src/test/suite/extension.test.ts
  apps/extension/src/test/suite/hoverProvider.test.ts
  apps/extension/src/test/suite/index.ts
  apps/extension/tsconfig.json
  biome.json
  pnpm-lock.yaml
Due: pnpm lint -- --write

test(workflow): enhance testing for VSCode extension
  .github/workflows/testing.yml
Due: none

test(workflow): enhance testing strategy for cross-platform compatibility
  .github/workflows/testing.yml
Due: none

test(workflow): enhance testing workflow for analyzer package and VSCode extension
  .github/workflows/testing.yml
Due: none

fix: testing window
  .github/workflows/testing.yml
Due: none

chore(dependencies): update biome schema and package versions
  .github/workflows/testing.yml
  biome.json
  package.json
  pnpm-lock.yaml
Due: pnpm lint -- --write

feat: implement CI/CD workflows for VSCode extension publishing
  .github/workflows/publish-extension.yml
  .github/workflows/release-extension.yml
  .gitignore
  apps/extension/package.json
  docs/CI-PUBLISHING-SUMMARY.md
  docs/PUBLISHING.md
  packages/analyzer/__tests__/repo/functions/upload.ts
  packages/analyzer/src/lib/fileScanner.ts
  packages/analyzer/src/tests/basic.test.ts
  packages/analyzer/src/tests/validator.test.ts
  scripts/release-extension.bash
  scripts/setup-publishing.bash
Due: pnpm lint -- --write, pnpm shellcheck

chore(analyzer): bump version to 0.1.3
  packages/analyzer/package.json
Due: pnpm lint -- --write

fix: update VSCE token in CI/CD workflow for extension publishing
  .github/workflows/publish-extension.yml
Due: none

refactor(workflow): simplify naming in testing workflow for VSCode extension
  .github/workflows/testing.yml
Due: none

chore: update cache dir
  .github/workflows/testing.yml
Due: none

chore(workflow): update turbo cache directory paths in testing workflow
  .github/workflows/testing.yml
Due: none

test: missing tc
  .github/workflows/testing.yml
Due: none

chore(workflow): update testing command for VSCode extension on Linux
  .github/workflows/testing.yml
Due: none

chore(workflow): enhance caching strategy in testing workflow
  .github/workflows/testing.yml
Due: none

chore(workflow): streamline testing commands for VSCode extension
  .github/workflows/testing.yml
  apps/extension/package.json
Due: pnpm lint -- --write

chore: rename test
  .github/workflows/testing.yml
Due: none

Path conditions:
  pnpm lint -- --write: any of: *.{ts,tsx,js,jsx,json,css,html}
  pnpm shellcheck: (any of: *.{sh,bash}) or (any of: ./.husky/*)
